<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Freento_CustomerLock::main" title="Freento Lock/Unlock Customer" sortOrder="65">
                    <resource id="Freento_CustomerLock::action" title="Lock/Unlock Customer" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
